@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-tilt {
        animation: tilt 10s infinite linear;
    }

    @keyframes tilt {

        0%,
        100% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(1deg);
        }
    }
}